$bg-1: rgb(17, 17, 17);
$bg-2: rgb(17 24 39);
$bg-3: rgba(243, 245, 247, 0.15);
$bg-4: rgba(97, 97, 97, 0.149);

$backdrop-bg-1: rgba(20, 20, 22, 0.5);

$font-color-1: white;
$font-color-2: rgb(152, 152, 152);
$error-color-1: rgb(244, 33, 46);

$action-color-1: #00b7b7;
// $action-color-1: #B22222;
// $action-color-2: ##D9534F;

$post-w: 52.8rem;

$font-1: 'Roboto', sans-serif;
