@import '../../sass/main.scss';

.base {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  font-family: 'Roboto', sans-serif;
  color: $font-color-1;

  @media only screen and (max-width: 1140px) {
    gap: 0;
  }
}

.main-content {
  width: 100%;
  min-height: 100vh;
  max-width: 43rem;
  border-right: solid 0.15rem $bg-3;
  border-left: solid 0.15rem $bg-3;

  @media only screen and (max-width: 538px) {
    max-width: 100%;
    border: none;
  }
}
