@import '../../../sass/main.scss';

.notifications {
  width: 100%;
  position: relative;

  .heading-container {
    position: sticky;
    top: 0;
    border-bottom: 0.1rem solid $bg-3;
    padding: 1.5rem 2.5rem;
    .heading {
      @include t-2;
      font-weight: 400;
      //   font-size: 2rem;
    }
  }
}
