@import '../../../../sass/main.scss';

.menu-container {
  position: relative;
}

.icon {
  width: 1.8rem;
  height: 1.8rem;
  stroke: $font-color-2;
}

.menu:hover {
  .icon {
    stroke: $action-color-1;
  }
}

.menu,
.icon {
  transition: all 0.2s;
}

.menu-action {
  position: absolute;
  z-index: 100;
  right: 0;
  top: 0;

  display: flex;
  flex-direction: column;

  //   background-color: $bg-2;
  background-color: $bg-1;
  @include border-highlight-1;
  border-radius: 1rem;
  padding: 0.5rem;
  width: 25rem;
  height: max-content;

  list-style: none;
  transition: all 0.1s;
  color: $font-color-1;

  @include navigation-btn;

  div {
    font-size: 1.5rem;

    .icon {
      height: 1.8rem;
      width: 1.8rem;
    }
  }
}

.navigation-hidden {
  display: none;
}
