@import '../../../../sass/main.scss';

.post {
  font-family: 'Roboto', sans-serif;
  display: flex;
  gap: 2rem;
  width: 100%;
}

// .post-container {
//   width: 100%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   margin-bottom: 6rem;
// }

.post-card {
  display: grid;
  width: 100%;

  overflow: hidden;
  //   background-color: $bg-1;
  border: solid 0.15rem $bg-3;
  grid-template-rows: 7.5rem max-content max-content;

  .top-card-container {
    position: relative;
    max-height: 100%;

    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-self: flex-start;
    // z-index: 10;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;

    .top-card {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      .profile-picture {
        z-index: 5;
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 100%;
      }

      .no-image {
        content: '';
        aspect-ratio: 1/1;
        height: 4.5rem;
        width: 4.5rem;
        background-color: $bg-4;
        border-radius: 100%;

        @include skeleton;
      }

      .profile-info-container {
        height: 100%;
      }

      .profile-info {
        // height: max-content;
        display: inline-block;
      }

      .name {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;

        .fullname {
          @include skeleton;
          border-radius: 0.5rem;
          width: 15rem;
          height: 1.5rem;
        }

        .username {
          @include skeleton;
          border-radius: 0.5rem;
          width: 8rem;
          height: 1.5rem;
        }
      }
      .posted-time {
        @include skeleton;
        border-radius: 0.5rem;
        width: 4rem;
        height: 1.5rem;
      }
    }
  }

  .main-picture {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 100%;
    max-height: 53.2rem;
    height: 100%;
    aspect-ratio: 1/1;
    @include skeleton;
  }

  .bottom-card {
    padding: 1.5rem;
    grid-row: 3 / 4;
    grid-column: 1 / 2;

    .user-bio {
      margin-bottom: 2.5rem;

      &-text {
        margin-bottom: 0.5rem;
        width: 100%;
        height: 1.5rem;
        border-radius: 0.5rem;

        @include skeleton;
      }

      &-username {
        @include t-3;
      }

      .hashtag-list {
        margin-bottom: 1rem;
        list-style: none;
        display: flex;
        gap: 0.5rem;
        @include ut-1;
        cursor: pointer;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
  }
}
