@import '../../../../sass/main.scss';

.icon-container {
  background-color: rgb(34, 34, 34);

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 0.1rem solid $bg-3;

  padding: 1.5rem;

  .like,
  .item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    p {
      cursor: pointer;
      color: $font-color-2;
    }

    .icon,
    .icon-full {
      stroke: $font-color-2;
      height: 2.2rem;
      width: 2.2rem;
    }
  }
  .like:hover {
    .icon,
    p {
      transition: all 0.2s;
      color: rgb(249, 24, 128);
      stroke: rgb(249, 24, 128);
      //   fill: rgb(255, 0, 93);
    }
  }

  .item:hover {
    .icon,
    p {
      transition: all 0.2s;
      color: rgb(0, 187, 255);
      stroke: rgb(0, 187, 255);
    }
  }

  //   .icon-full {
  //     fill: rgb(255, 0, 93);
  //     stroke: none;
  //   }
}
