@import '../../../sass/main.scss';

.logo {
  // font-style: italic;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: white;
  margin: 0 2.5rem;
  margin-bottom: 2.5rem;
}
