@import '../../sass/main.scss';

.base {
  height: 100vh;
}

.main {
  font-family: 'Roboto', sans-serif;
  border-left: 0.1rem solid $bg-3;
  padding: 1.5rem;
  font-size: 1.6rem;
  height: 100%;
  color: $font-color-1;
}
