@import '../../sass/main.scss';

.settings {
  width: 100%;

  .heading-container {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 2rem;

    .icon {
      padding: 0.5rem;
      border-radius: 100%;
      height: 3.2rem;
      width: 3.2rem;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: $bg-3;
      }
    }
    .heading {
      font-size: 2rem;
    }
  }

  .heading-text {
    @include ut-1;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .text-container {
    display: flex;
    align-items: center;
    gap: 2.6rem;
  }

  .link {
    width: 100%;
    max-width: 60rem;
    padding: 2.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    border-radius: 1rem;
    transition: background-color 0.2s;

    &:hover {
      background-color: $bg-4;
    }

    .icon {
      height: 2.2rem;
      width: 2.2rem;
      stroke: $font-color-2;
    }

    .text {
      h2 {
        font-size: 1.8rem;
        font-weight: 400;
        margin-bottom: 0.5rem;
      }

      p {
        @include ut-1;
        font-size: 1.6rem;
      }
    }
  }
}
