@import '../../../../sass/main.scss';

.profile-info-container {
  display: block !important;
}

.top-card {
  display: flex;
  align-items: center;
  gap: 1.5rem !important;

  .profile-picture {
    z-index: 5;
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
  }

  .name {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

    .fullname {
      @include t-3;
    }

    .username {
      @include ut-1;
      font-size: 1.5rem;
    }
  }
  .posted-time {
    @include ut-1;
    font-size: 1.5rem;
    cursor: auto;
  }

  .fullname,
  .username,
  .posted-time {
    text-shadow: 1rem 0 0 1rem white;
  }
}

.user-description {
  font-size: 1.5rem;
  cursor: auto;
}
