@import '../../../../sass/main.scss';

.new-post {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  right: 0;
  color: $font-color-1;
  font-size: 1.6rem;
  font-family: $font-1;

  width: 100%;
  height: 100%;

  padding: 2.5rem;

  background-color: $backdrop-bg-1;

  //?
  @media only screen and (max-width: 915px) {
    padding: 0;
  }
}

.container {
  position: relative;
  background-color: $bg-1;
  @include border-highlight-1;
  border-radius: 1.5rem;
  width: 100%;
  height: 100%;
  max-width: 60rem;
  max-height: 80rem;
  overflow: hidden;

  //?
  @media only screen and (max-width: 915px) {
    max-width: 100%;
    border-radius: 0;
    min-height: 100%;
    overflow-y: scroll;
  }
}

.container-2 {
  max-width: 93.9rem;

  //?
  @media only screen and (max-width: 915px) {
    max-width: 100%;
  }
}

.nav {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
  padding: 1rem 2.5rem;
  border-bottom: 0.1rem solid $bg-3;
  background-color: $bg-1;

  @media only screen and (max-width: 915px) {
    max-width: 100%;
    position: sticky;
    top: 0;
  }

  .return-container {
    padding: 0.5rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: max-content;
    height: max-content;
    transition: background-color 0.2s;

    &:hover {
      background-color: $bg-3;
    }

    .return-icon {
      width: 2.4rem;
      height: auto;
    }
  }

  .heading {
    font-size: 1.8rem;
    margin: 0;
  }

  .next {
    position: relative;
    justify-self: flex-end;

    .share {
      background: none;
      border: none;
      font-size: 1.8rem;
      font-weight: 400;
      cursor: pointer;
      color: rgba($action-color-1, 0.8);
      transition: color 0.2s;

      &:hover {
        color: $action-color-1;
      }

      &:disabled {
        color: rgba($font-color-2, 0.5);
        cursor: not-allowed;

        &:hover {
          color: $font-color-2;
        }
      }
    }

    .loading {
      top: 0;
      scale: 0.5;
      position: absolute;
      z-index: 1;
      transform: translate(-100%, -50%);
      color: $action-color-1;
      left: 50%;
    }
  }
}

.post-container {
  display: grid;
  grid-template-columns: 1fr 33.9rem;
  grid-template-rows: 1fr;
  height: 100%;
  overflow: hidden;

  @media only screen and (max-width: 915px) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

.test {
  height: 100%;

  @media only screen and (max-width: 915px) {
    height: max-content;
  }
}

.post-picture {
  height: calc(100% - 5.4rem);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media only screen and (max-width: 915px) {
    height: calc(100vh - 5.5rem);
  }

  .photo-icon {
    height: 8rem;
  }

  .input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  .input-file + label {
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    background-color: rgba($action-color-1, 0.8);
    transition: background-color 0.2s;

    &:hover {
      background-color: $action-color-1;
    }
  }

  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 60rem;
    overflow-y: auto;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    /* Hide scrollbar for Chrome, Safari and Opera */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .image {
    width: 80%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
    @media only screen and (max-width: 915px) {
      width: 100%;
      width: 100vw;
    }
  }
}

.post-data {
  padding: 1.5rem;
  border-left: 0.1rem solid $bg-3;

  @media only screen and (max-width: 915px) {
    border: none;
    padding: 2.5rem;
    min-height: 75rem;
  }
}

.user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  .profile-picture {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    object-fit: cover;
  }

  .no-image {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    aspect-ratio: 1/1;
    background-color: $bg-4;
  }

  p {
    font-weight: 500;
    color: $font-color-2;
  }
}

.caption textarea {
  resize: none;
  color: $font-color-1;
  font-family: inherit;
  font-size: 1.6rem;

  width: 100% !important;
  height: 16.8rem !important;
  background-color: inherit;
  border: none;
  margin-top: 2rem;
  box-sizing: border-box;
  resize: none;
  outline: none;

  user-select: text;
  white-space: pre-wrap;
  word-break: break-word;
}

.heading {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: $font-color-2;
  font-weight: 500;
}

.item {
  input {
    background-color: inherit;
    border: 0.1rem solid $bg-3;
    outline: none;
    font-size: 1.5rem;
    font-family: inherit;
    color: $font-color-1;
    padding: 1rem 1rem;
    width: 100%;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
  }
}

.add-outfit-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  .add-outfit {
    cursor: pointer;
    background-color: rgba($action-color-1, 0.8);
    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s;

    &:hover {
      background-color: $action-color-1;
    }
  }

  .cancel-outfit {
    cursor: pointer;
    font-weight: 400;
    font-size: 1.5rem;
    color: rgba($action-color-1, 0.8);
    transition: color 0.2s;

    &:hover {
      color: $action-color-1;
    }
  }
}

.pluscontainer {
  display: flex;

  justify-content: center;
  margin-top: 2.5rem;

  .plus {
    height: 2.5rem;
    width: 2.5rem;
    stroke: $font-color-2;
    transition: stroke 0.2s;
    cursor: pointer;

    &:hover {
      stroke: $action-color-1;
    }
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item-text {
      .item-heading {
        font-size: 1.5rem;
        font-weight: 400;
      }

      .item-link {
        color: $font-color-2;
      }
    }

    .icon-container {
      display: flex;
      gap: 1rem;
      .edit,
      .delete {
        width: 2.2rem;
        height: 2.2rem;
        stroke: $font-color-2;
        transition: stroke 0.2s;
        cursor: pointer;

        &:hover {
          stroke: $action-color-1;
        }
      }
    }
  }
}

.item-count {
  font-size: 1.4rem;
  text-align: center;
  color: $font-color-2;
  font-weight: 500;
}
